<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
     <!-- <add name="banco"
           connectionString="Server=SMP0581227W10-1;
           Initial Catalog=Projeto_Senac_BS;
           User ID=sa;
           Password=senac@smp;"/>-->
    <add name="banco"
           connectionString="Server=DESKTOP-2SU6NVB\SQLEXPRESS;
           Initial Catalog=AlmoxarifadoSenac;
           User ID=teste;
           Password=65665011;"/>
  </connectionStrings>
  <appSettings>
    <add key="Dominio" value="senacsp.edu.br"/>
  </appSettings>
</configuration>